header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

img {
  width: 40px;
  height: 40px;
}

.search input {
  width: 400px;
  border: none;
  border-radius: 3px;
  background-color: #191923;
  color: #f0f3f5;
  padding: 6px 15px;
  outline: 0;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.link{
  text-decoration: none;
  color: #f3f3f3;
  padding: 8px;
}

.link:hover {
  opacity: .6;
  transition: .6s ease;
}
